
.note, .folder{
  color: #61dafb;
  padding: 8px 0 8px 8px;
  position: relative;
  list-style:none;
  margin-bottom:20px;
  margin-top:20px;
  text-decoration: none;
  -webkit-box-shadow: 1px 2px 10px 5px rgba(219,215,219,1);
  -moz-box-shadow: 1px 2px 10px 5px rgba(219,215,219,1);
  box-shadow: 1px 2px 10px 5px rgba(219,215,219,1);
}

.note:hover, .folder:hover{
  -webkit-box-shadow: 1px 2px 20px 5px rgba(219,215,219,1);
  -moz-box-shadow: 1px 2px 20px 5px rgba(219,215,219,1);
  box-shadow: 1px 2px 20px 5px rgba(219,215,219,1);
}

p{
  color:#019fb6;
}

div header h1{
  text-align:center;
  color: #61dafb;
  font-size: 44px;
}

h1:after {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  width:13%;
  margin: 0 auto;
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}

h1:hover:after { transform: scaleX(1); }

.folder-list{
  float: left;
  display: inline; 
  width: 35%;
  margin-left:3%;
}

.note-list{
  float: right;
  display: inline;
  width: 55%;
  margin-right:7%;
}

.add-note{
  background-color: #cacaca;
  border-radius: 30px;
  color: black;
  display: block;
  margin-left:50px;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  width: 66px;
  margin-left: 40px;
  text-align:center;
  color:#019fb6;
  background-color:whitesmoke;
  border: 1px solid blue;
}

input, select{
  height:35px;
  width:100%;
  margin:10px;
}

.note-content, h2{
  display:block;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:2%;
  width: 60%;
  text-align:center;
}

.note-page{
  display:block;
  margin:0 auto;
  width:60%;
}