
.note, .folder{
  color: #15c39a;
  padding: 8px 0 8px 8px;
  position: relative;
  list-style:none;
  margin-bottom:20px;
  margin-top:20px;
  text-decoration: none;
  -webkit-box-shadow: 1px 2px 10px 5px rgba(219,215,219,1);
  -moz-box-shadow: 1px 2px 10px 5px rgba(219,215,219,1);
  box-shadow: 1px 2px 10px 5px rgba(219,215,219,1);
}

.note:hover, .folder:hover{
  -webkit-box-shadow: 1px 2px 20px 5px rgba(219,215,219,1);
  -moz-box-shadow: 1px 2px 20px 5px rgba(219,215,219,1);
  box-shadow: 1px 2px 20px 5px rgba(219,215,219,1);
}

div header h1{
  text-align:center;
  color: #15c39a;
}

.folder-list{
  float: left;
  display: inline; 
  width: 34%;
  margin-left:4px;
}

.note-list{
  float: right;
  display: inline;
  width: 60%;
  margin-right:26px;
}

.add-note{
  background-color: #cacaca;
  border-radius: 30px;
  color: black;
  display: block;
  margin-left:50px;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  width: 66px;
  margin-left: 40px;
}

input, select{
  height:35px;
  width:100%;
  margin:10px;
}

.note-content, h2{
  display:block;
  margin:0 auto;
  width: 60%;
  text-align:center;
}

Link {
  text-decoration:none;
}