
.note, .folder{
  --note-height: 88px;
  color: blue;
  height: var(--note-height);
  margin-bottom: 8px;
  max-width: 380px;
  padding: 8px 0 8px 8px;
  position: relative;
  border: 2px solid gray;
}

.folder{
  width: 200px;
  height:60px;
  border: 2px solid black; 
  margin: 10px;
}

.add-note{
  background-color: #cacaca;
  border-radius: 30px;
  color: black;
  display: block;
  margin: 0 auto;
  font-size: 12px;
  font-weight: bold;
  padding: 8px;
  text-decoration: none;
  width: 60px;
  margin-bottom:20px;
}

input, select{
  height:35px;
  width:100%;
  margin:10px;
}

button {
  margin:30px;
}